.nike-form{
  padding-top: 60px;
  text-align: center;
  margin-top: 60px;
}

.nike{
  line-height:2em;
}

#btn{
  background-color: black;
  color: white;
  width: 80px;
  margin-top: 10px;
}
.no_padding{
  padding-left: 0px;
  padding-right: 0px;
}

.form{
background: rgba(0, 0, 0,0.4, black);
background: transparent;
}

#container{
text-align: center;
line-height: 5em;
margin-top: 150px;
}
label{
color: white;
}
